.navbar{
    background: white; 
    min-width: 1535px;
    height: 60px;
}
.bdrop img{
    margin-top: 3px;
    margin-left: 15px;
    width: 43px;

}

.headings{
    margin-left: 400px;
    margin-top: -43px;
    scroll-behavior: smooth;

}
.h{
    display: inline-block;
    margin-left:10px;
}

.h a{
   text-decoration: none; 
   color: white;
   font-size: 16px;
   background: black;
   padding-top: 8px;
   padding-bottom: 8px;
   padding-left: 45px;
   padding-right: 45px;
   border: 3px solid red;
   border-radius: 100px;
   
}

.h a:hover{
    background: linear-gradient(white,red);
    border: 3px solid black;
    color: black;
}